:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Fira code", "Fira Mono", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: content-box;
  width: 80vw;
  margin: 0 auto;
}

.panel {
  background-color: rgb(239, 246, 255);
  border-radius: 10px;
  padding: 20px;
  box-sizing: content-box;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

h2 {
  margin: 0px 0 20px;
}

.lexed-token {
  background-color: #ddd;
  padding: 3px 13px;
  margin: 0px 10px 14px 0px;
  border-radius: 4px;
  border: 1px solid #999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  white-space: nowrap;
  display: inline-block;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: flex;
}

.editor {
  flex: 1;
}

ul.quicklinks {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  padding: 0;
}

ul.quicklinks li {
  margin-right: 20px;
  display: inline-block;
}

ul.quicklinks li a {
  text-decoration: underline;
  font-weight: bold;
  font-size: 15px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
